<!-- filepath: c:\Users\Arthur\FabricaDeSoftware\views\index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Página Inicial</title>
</head>
<body>
  <h1>Bem-vindo ao seu projeto Node.js com EJS!</h1>
  <% if (typeof dbTime !== 'undefined') { %>
    <p>Horário do banco de dados: <%= dbTime %></p>
  <% } %>
</body>
</html>