<!DOCTYPE html>
<html>
<head>
  <title>Usuários</title>
</head>
<body>
  <h1>Usuários</h1>
  <a href="/usuarios/create">Novo Usuário</a>
  <ul>
    <% usuarios.forEach(usuario => { %>
      <li>
        <%= usuario.nome %> - <%= usuario.email %>
        <a href="/usuarios/<%= usuario.id %>/edit">Editar</a>
        <form action="/usuarios/<%= usuario.id %>?_method=DELETE" method="POST" style="display:inline;">
          <button type="submit">Deletar</button>
        </form>
      </li>
    <% }) %>
  </ul>
</body>
</html>